{% extends "main.twig" %}
{% block title %}
Reportar emergencia |
{{ parent() }}
{% endblock %}

{# bloque del contenido de cada vista #}
{% block contenido %}
<div class="container">
  <h1>Reportar una emergencia</h1>
  <div>
    <form action="/reportar" method="post">
        <label for="emergenciaTipo">Tipo de emergencia</label>
        <select name="emergenciaTipo" id="emergenciaTipo" class="form-control" required>
            <option  selected disabled>Seleccionar</option>
            <option value="Accidentes de tránsito"  >Accidentes de tránsito</option>
            <option value="Incendios"  >Incendios</option>
            <option value="Robos y asaltos"  >Robos y asaltos</option>
            <option value="Sicariato"  >Sicariatos</option>
            <option value="Violencia doméstica"  >Violencia doméstica</option>
        </select>
        <textarea  name="detalles" id="emergenciaDescripcion" cols="30" rows="10" class="form-control" placeholder="Damos más detalles"></textarea>
        <input type="hidden" name="latitud" id="latitud" value="">
        <input type="hidden" name="longitud" id="longitud" value="">
        <input type="submit" value="Reportar" class="form-control btn btn-primary">
    </form>
  </div>
</div>
{% endblock contenido %}

{% block footer %}
{{ parent() }}
{% endblock footer %}

{% block scripts %}
	{{ parent() }}
	<script>
    {{ responseMessage|raw }}
  
    const Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 2000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer)
        toast.addEventListener('mouseleave', Swal.resumeTimer)
      }
    })

    function obtenerUbicacion() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function (position) {
            latitud.value = position.coords.latitude;
            longitud.value = position.coords.longitude;
            Toast.fire({
              icon: 'success',
              title: 'Localización activada'
            })
          }, function (error) {
            switch (error.code) {
              case error.PERMISSION_DENIED:
                  alert('Permiso denegado para obtener la ubicación.');
                  break;
              case error.POSITION_UNAVAILABLE:
                  alert('Información de ubicación no disponible.');
                  break;
              case error.TIMEOUT:
                  alert('Tiempo de espera agotado para obtener la ubicación.');
                  break;
              case error.UNKNOWN_ERROR:
                  alert('Error desconocido al obtener la ubicación.');
                  break;
            }
          });
      } else {
          alert('Geolocalización no es soportada por tu navegador.');
      }
    }

    window.onload = obtenerUbicacion()
  </script>
{% endblock scripts %}