{% extends "main.twig" %}
{% block title %}
Reportado |
{{ parent() }}
{% endblock %}

{# bloque de estilos #}
{% block styles %}
<style>
            .repotado_done{
                font-size: 10em;
                color: green;
            }

            .resspuesta{
                padding: 50px 0;
                
            }
            
            
        </style>
{% endblock %}

{# bloque del contenido de cada vista #}
{% block contenido %}
<div class="container">
    <div class="text-center resspuesta">
        <h1>Hemos recibido tu reporte</h1>
        <h4>Llegaremos lo mas pronto posible a tu ubicación</h4>
        <h5>Cuando lleguemos te llamaremos</h5>
        <div class="repotado_done">
            <i class="fa-solid fa-check"></i>
        </div>
        <a href="/dashboard" class="btn btn-primary w-25">Inicio</a>
    </div>
</div>
{% endblock contenido %}

{% block footer %}
{{ parent() }}
{% endblock footer %}
